PORT=5010
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Base de données (Supabase)
DATABASE_URL="postgresql://user:password@host:port/database?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:port/database"

# Sécurité
JWT_SECRET="votre_secret_jwt"
JWT_EXPIRES_IN=7d

# Notifications (Resend)
RESEND_API_KEY="votre_cle_api"
EMAIL_FROM="Voyago <noreply@voyago.tg>"
